.login-card{

}

.login-div{
    margin-top: 10%;
}

.login-card-title{
    background:#8bc34a;
    color: white !important;
}

#root > div > div > div > div > h2{
    color:white;
}

.login-div{
    background-color:#fafafa !important;
}

.login-button{
    margin-top: 15px;
    text-align: right;
}